doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(charset="utf-8")
        title 数据中心监控平台
        meta(name="description", content="overview & stats")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="/assets/font-awesome/4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/assets/fonts/fonts.googleapis.com.css")
        link(rel="stylesheet", href="/assets/css/ace.min.css")
        script(src="/assets/js/ace-extra.min.js")

    body.no-skin
        include ../include/header.html
        #main-container.main-container
            script(type="text/javascript").
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            include ../include/sidebar.html
            .main-content
                .page-content
                    .col-md-12
                        h2.page-header
                            | 各节点交换质量统计
                            .btn-group(style="float: right;padding-right: 10px")
                                select(style="font-size:14px;float: left;margin-right: 10px;margin-top: 5px;")
                                    option(value="") 显示各部门节点
                                    option(value="1", selected="selected") 民政局
                                    option(value="2") 房地局
                                    option(value="3") 公安局
                                    option(value="4") 工商局
                                    option(value="5") 教育局
                                    option(value="6") 税务局
                                    option(value="7") 审计局
                                    option(value="8") 质检局
                                button.btn.btn-info(type="button", onclick="window.location.href='#'") 按日
                                button.btn.btn-default(type="button", onclick="window.location.href='#'") 按月
                                button.btn.btn-default(type="button", onclick="window.location.href='#'") 按年
                    // PAGE CONTENT BEGINS
                    .row
                        .col-xs-12
                            table#simple-table.table.table-striped.table-bordered.table-hover
                                thead
                                    tr
                                        th.center 资源类型
                                        th.center 检测规则
                                        th.center 交换总量
                                        th.center 问题数据量
                                        th.center 问题数据占比
                                tbody
                                    tr.center
                                        td 法人处罚信息
                                        td 组织机构代码是否为空
                                        td 32100
                                        td 1000
                                        td 3%
                                    tr.center
                                        td 人员基本信息
                                        td 身份证是否为空
                                        td 32100
                                        td 1000
                                        td 3%
                                    tr.center
                                        td 保障房基本信息
                                        td 组织机构代码是否为空
                                        td 32100
                                        td 1000
                                        td 3%
                                    tr.center
                                        td 法人基本信息
                                        td 组织机构代码是否为空
                                        td 32100
                                        td 1000
                                        td 3%
                                    tr.center
                                        td 房屋基本信息
                                        td 组织机构代码是否为空
                                        td 32100
                                        td 1000
                                        td 3%
                        // /.span
                    // /.row
                include ../include/footer.html
                a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href="#")
                    i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
                script(src="/assets/js/jquery.2.1.1.min.js")
            script(type="text/javascript").
                window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>"+"<"+"/script>");
            script(type="text/javascript").
                if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
            script(src="/assets/js/bootstrap.min.js")
            // page specific plugin scripts
            // ace scripts
            script(src="/assets/js/ace-elements.min.js")
            script(src="/assets/js/ace.min.js")
            // inline scripts related to this page
            script(type="text/javascript").
                jQuery(function($) {
                    $('.modal.aside').ace_aside();
                    $('#aside-inside-modal').addClass('aside').ace_aside({container: '#my-modal > .modal-dialog'});
                    $(document).one('ajaxloadstart.page', function(e) {
                        //in ajax mode, remove before leaving page
                        $('.modal.aside').remove();
                        $(window).off('.aside')
                    });
                })
