<div id="sidebar" class="sidebar responsive menu-min" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
        <li id="jksy" class="active">
            <a href="/index">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> 监控首页 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li id="jhjk" class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								交换监控
							</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">


                <li id="jdzt" class="">
                    <a href="/swap/jdzt">
                        <i class="menu-icon fa fa-caret-right"></i>
                        节点状态监控
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="sjjhl" class="">
                    <a href="/swap/sjjhl">
                        <i class="menu-icon fa fa-caret-right"></i>
                        数据交换量监控(月)
                    </a>

                    <b class="arrow"></b>
                </li>
                <li id="sjjhl-year" class="">
                    <a href="/swap/sjjhl-year">
                        <i class="menu-icon fa fa-caret-right"></i>
                        数据交换量监控(年)
                    </a>

                    <b class="arrow"></b>
                </li>



                <li id="jhsltj" class="">
                    <a href="/swap/jhjgtj">
                        <i class="menu-icon fa fa-caret-right"></i>
                        交换数量统计(图)
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="jhzltj" class="">
                    <a href="/swap/jhzltj-detail">
                        <i class="menu-icon fa fa-caret-right"></i>
                        交换质量统计(表)
                    </a>

                    <b class="arrow"></b>
                </li>

                <li id="jhrzck" class="">
                    <a href="/swap/jhrzck">
                        <i class="menu-icon fa fa-caret-right"></i>
                        交换日志查看
                    </a>

                    <b class="arrow"></b>
                </li>


            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> 服务监控 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="/server/fwztjk">
                        <i class="menu-icon fa fa-caret-right"></i>
                        服务状态监控
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/server/fwdyjk">
                        <i class="menu-icon fa fa-caret-right"></i>
                        服务调用监控
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> 操作监控 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="/process/dlrz">
                        <i class="menu-icon fa fa-caret-right"></i>
                        登录日志
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/process/czrz">
                        <i class="menu-icon fa fa-caret-right"></i>
                        操作日志
                    </a>

                    <b class="arrow"></b>
                </li>



            </ul>
        </li>

        <li id="yxdt" class="">
            <a href="/push/yxdt">
                <i class="menu-icon fa fa-calendar"></i>

							<span class="menu-text">
								运行动态

								<span class="badge badge-transparent tooltip-error" title="" data-original-title="2 Important Events">
									<i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
								</span>
							</span>
            </a>

            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>